@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: fallback;
  src: url("../fonts/Inter-Light-BETA.woff2") format("woff2"),
       url("../fonts/Inter-Light-BETA.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: fallback;
  src: url("../fonts/Inter-LightItalic-BETA.woff2") format("woff2"),
       url("../fonts/Inter-LightItalic-BETA.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: fallback;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"),
       url("../fonts/Inter-SemiBold.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: fallback;
  src: url("../fonts/Inter-SemiBoldItalic.woff2") format("woff2"),
       url("../fonts/Inter-SemiBoldItalic.woff") format("woff");
}